@import "masterStyle.css"

.button{
  -fx-text-fill: #07407b;
  -fx-background-color: #7fcdee;
}
.root {
    -fx-background-color: #07407b;
}
.border{
    -fx-border-color: #7fcdee; -fx-border-width: 4;
}